<section>
  {{!-- test api --}}

  <div class='order_book_list' id='order_now'>
  
  </div>
<div class = 'left-bar'>
<div class='total_price' id='total_price'></div>
 <div class = 'button-list'>
  <button style = 'color:black' type='submit' id='place_order' class = 'place_order'>Submit</button>
  </div>
</div>

</section>